@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: "Arial", sans-serif;
  letter-spacing: 1px;
}
@layer base {
  li {
    @apply cursor-pointer transition-all duration-300 ease-in-out;
  }
  button {
    @apply cursor-pointer transition-all duration-300 ease-in-out;
  }
  * {
    @apply transition-colors duration-300 ease-in-out;
  }
  table,
  thead,
  tr,
  th,
  td {
    border: 1px solid black;
  }
}

@keyframes animate-bubble-1 {
  0% {
    transform: translateX(0);
    z-index: -1;
  }
  50% {
    transform: translateX(100px);
    z-index: -2;
  }
  100% {
    transform: translateX(0);
    z-index: -1;
  }
}
@keyframes animate-bubble-2 {
  0% {
    transform: translateX(0);
    z-index: -2;
  }
  50% {
    transform: translateX(-100px);
    z-index: -1;
  }
  100% {
    transform: translateX(0);
    z-index: -2;
  }
}
@layer utilities {
  .link {
    @apply border-b-2 border-transparent hover:border-blue-300 hover:text-blue-300;
  }
  .animate-bubble-1 {
    animation: animate-bubble-1 10s ease-in-out infinite;
  }
  .animate-bubble-2 {
    animation: animate-bubble-2 10s ease-in-out infinite;
  }
  .bg-gradiant {
    @apply bg-gradient-to-r from-pink-700 to-purple-700;
  }
  .bg-gradiant-blur {
    @apply bg-gradient-to-r from-pink-700/50 to-purple-700/50 backdrop-blur-sm;
  }
  .contact {
    @apply flex items-center gap-2 text-lg px-6 py-2 rounded-lg border border-gray-300 dark:border-gray-700 hover:shadow-lg transition-shadow;
  }
  .font-helvetica {
    font-family: "Helvetica", sans-serif;
  }
}
html {
  scroll-behavior: smooth;
}
